.App {
  text-align: center;
  background-color: rgba(0, 0, 23, 0.8);
  height: 100vh;
  padding: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.SearchBar {
  background-color: rgba(255, 255, 255, 0.15);
  height: 50px;
  width: 50vh;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-inline: 15px;
  color: white;
  background-image: url(./icons/search_white.svg);
  background-repeat: no-repeat;
  background-position: 10px 15px;
  text-indent: 25px;
}

.SearchBar:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.SearchBar:focus {
  outline: none;
}

.SearchBar::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.SearchBar::content {
  color: white;
}

.Loader {
  height: 300px;
  width: 300px;
}

.List {
  list-style-type: none;
  margin: 60px;
}

.ListElement {
  padding: 35px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: large;
}

.ListElement:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
